.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

a {
  text-decoration: none;
}
header {
  margin: 10px auto;
}
h1 {
  display: block;
  margin: 0 auto 10px;
  color: #f8b62d;
  text-align: center;
}
.search-row {
  text-align: center;
}
.github-link {
  font-size: 18px;
  text-align: center;
  display: block;
}

* {
  font-family: "Work Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.2);
}
body {
  background: linear-gradient(
    0deg,
    rgb(229, 216, 182) 0%,
    rgba(59, 103, 198, 1) 40%,
    rgba(6, 15, 94, 1) 100%
  );

  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: rgb(49, 36, 36);
  background-image: url("./images/weather.jpg");
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  max-width: 800px;
  margin: 10px auto;
  padding: 20px 20px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  width: 800px;
  height: 68vh;
}
