.App {
  font-family: sans-serif;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

a {
  text-decoration: none;
}
header {
  margin: 10px auto;
}
h1 {
  display: block;
  margin: 0 auto 10px;
  color: #f8b62d;
  text-align: center;
}
.search-row {
  text-align: center;
}
.github-link {
  font-size: 18px;
  text-align: center;
  display: block;
}

* {
  font-family: "Work Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}
body {
  background: linear-gradient(
    0deg,
    rgb(229, 216, 182) 0%,
    rgba(59, 103, 198, 1) 40%,
    rgba(6, 15, 94, 1) 100%
  );
  background-position: center bottom;
  background-repeat: no-repeat;

  background-attachment: fixed;
  background-size: cover;
  background-image: url("./images/weather.jpg");

  color: rgb(49, 36, 36);
}

@media (max-width: 800px) {
  .App-header {
    min-height: 30vh;
    font-size: 28px;
  }
}

@media (max-width: 350px) {
  .App-header {
    font-size: 24px;
    min-height: 140vh;
  }
}
