#search {
  background-color: #ffebbb;
  border-radius: 5px;
}
.SearchEngine {
  display: block;
  padding: 10px;
  gap: 10px;
}
.Weather .main-weather-info {
  text-align: left;
  display: flex;
  align-items: center;
}
.form-control {
  padding-inline-start: 5px;
  width: 250px;
  display: flex;
  margin: 0 auto;
  margin-left: 0;
}

.search-btn {
  display: flex;
  margin-left: 20px;
  border: 1px solid #f1e8d2;
  border-radius: 10px;
  width: 90px;
  background-color: #c16c0c;
  opacity: 0.7;
}
